src/main/mule/indigoFlights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="indigoFlightsFlow" doc:id="1abf204d-5ee9-4a18-84b4-0ba28d18e2a4" >
		<logger level="INFO" doc:name="Logger" doc:id="32a63b1c-bf59-4b2c-9365-56113c6cbd3c" message="request received..#[attributes.queryParams]" />
		<http:request method="GET" doc:name="Request" doc:id="86a7eca3-1a60-478f-afa3-7e6a64568dfa" config-ref="HTTP_Request_configuration" path="/api/getFlights" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="c20b88b7-9722-40df-b26b-ce36f91b7528" message="response from Indigo airlines...#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="17974f81-8ca2-45b9-aaa3-941be45c3a1e" >
				<ee:transform doc:name="Transform Message" doc:id="fc249a76-053a-4d17-b1a0-fdfe1b1c482a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"unable to process your request,pls try after some time"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="deed754d-1a37-472d-8458-b8410f5823b7" message="on Error Propagate"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
